<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="A.Master.cs" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="body" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <hr />
    this is A.Master
</body>
</html>
